.elekmodal{
  position: fixed;
  left:0;
  top:0;
  background:rgba(0,0,0,0.25);
  width:100%;
  height:100%;
}

.elekmodal div{
  width:100%;
  height:100%;
}

.elekmodal iframe{
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
}

.elekimg{
  height:400px;
  width:400px;
  background:url(../images/sm.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  position: fixed;
  z-index:9999;
  bottom:0;
  left:0;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

.elekimg-1{
  background: url(../images/elekz.jpg);
}
.elekimg-2{
  background: url(../images/elekz1.jpg);
}
.elekimg-3{
  background: url(../images/elekz2.jpg);
}
.elekimg-4{
  background: url(../images/elekz3.jpg);
}
.elekimg-5{
  background: url(../images/elekz4.jpg);
}
.elekimg-6{
  background: url(../images/elekz5.jpg);
}

.elekimg.right{
  left:initial;
  right:0;
}

.elekimg.top{
  bottom:initial;
  top:0;
}

@keyframes circle {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}

@keyframes inner-circle {
  from { transform:rotate(0deg); }
  to { transform:rotate(-360deg); }
}

.elekcontainer-old {
  width:100px;
  height:100px;
  position: fixed;
  margin: 20px auto 0;
  color:orange;
  font-size:100px;
  line-height:1;
  animation: circle 5s linear infinite;
  transform-origin:50% 200px;
  left:50%;
  top:50%;
}

.elekcontainer {
  margin: auto;
  animation: circle 5s linear infinite;
  transform-origin:50% 200px;
  left:50%;
  top:50%;
}

.elekcontainer-old div {
  animation: inner-circle 5s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }